{{ define "otterworks.slack.title" -}}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }} — {{ .CommonLabels.service }}
{{- end }}

{{ define "otterworks.slack.text" -}}
{{ range .Alerts -}}
*{{ .Annotations.summary }}*
{{ .Annotations.description }}
• severity: `{{ .Labels.severity }}`{{ if .Labels.scenario }}  • scenario: `{{ .Labels.scenario }}`{{ end }}
• started: {{ .StartsAt.Format "15:04:05 MST" }}
• {{ printf "<%s|dashboard>" .Annotations.dashboard_url }}{{ if .Annotations.traces_url }} • {{ printf "<%s|traces>" .Annotations.traces_url }}{{ end }} • {{ printf "<%s|runbook>" .Annotations.runbook_url }}
{{ end -}}
{{- end }}
